body{
  background-color: #669999; 
}

textarea{
  margin: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  width: 80%;
  height: 100px;
  resize: vertical;
}

#preview{
  margin: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  width: 80%;
  background-color: #c2d6d6;
  border-radius: 15px;
  padding: 10px;
}